*{
    margin: 0;
    padding: 0;
}
body{
  display: flex;
  flex-direction: column;

}
.flex{
    
    display: flex;
}
header{
 flex-direction: row;  
 width: 100vw;
 height: 10vh; 
}
.title-box{
    margin: 2vw;
    flex-direction: column;
    max-width: 40%;
    height: 80%;
    align-items: center;
    justify-content: center;
}
main{
    width: 100vw;
    height: 90vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.login-box{
    flex-direction: column;
    width: 40%;
    height: 40vh;
    justify-content: center;
    align-items: center;
}
.login-sigin-form{
    flex-direction: column;
    width: 100%;
    height: 80%;

}


.main-box{
    flex-direction: column;
    height: 100%;
    width: 60%;
    justify-content: center;
    align-items: center;

}
.new-task-box{
    flex-direction: column;
    height: 20%;
    width: 25%;
    justify-content: center;
    align-items: center;


}
.new-task{
    flex-direction: row;
    height: 30%;
    width: 100%;

}
.new-task-input{
    text-decoration: none;

}
.new-task-button{
    width: 30%;

    text-decoration: none;
}
.main-tasks-box{
    flex-direction: row;    
    justify-content: space-between;
    width: 80%;
    height: 80%;

}
.main-tasks-table{
    flex-direction: column;
    width: 25%;
    height: 100%;
    
}
.main-tasks-table table{
    width: 100%;
}

.footer{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 10vh;
}
